#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000000;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#command {
    position: absolute;
    margin: -75px 0 0 -75px;
    font-size: 18px;
    top: 80%;
    float: left;
    left: 40%;
    height: 120px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#beagarwallogo {
    width: auto;
    height: 55px;
}

.navbar.navbar-light.navbar-expand-xl.sticky-top {
    box-shadow: 0px 0px 20px #CCCCCC;
    background-color: #18252A;
    padding-left: 21px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    max-width: 100%;
    font-family: 'Fira Mono', monospace;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(66, 0, 10);
}

.nav-item {
    padding: 10px;
}

.nav-item a {
    color: white !important;
    font-weight: bold;
}

.nav-item a:hover {
    color: white !important;
    background-color: #2AA19B !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #993333;
    /* bright */
    font-weight: normal;
}

.nav-item a:link {
    color: #FFFFFF !important;
    text-decoration: none;
}

.nav-item a:visited {
    color: #FFFFFF !important;
    text-decoration: none;
}

.nav-item a.active {
    color: white !important;
    /* background-color: !important; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px #CCCCCC;
    /* bright */
    font-weight: normal;
}

.nav-item a:hover {
    color: white !important;
    text-decoration: none;
}

.navbar-toggler {
    background-color: white;
}

#navcol-1 {
    font-size: 16px;
    text-align: center;
}

.fa.fa-home,
.fa.fa-star,
.fa.fa-photo,
.fa.fa-newspaper-o,
.fa.fa-envelope {
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 5px;
}

body {
    background-color: #2AA19B;
    width: auto;
    height: auto;
    min-height: 0px;
    background-size: auto;
    background-repeat: repeat;
    background-position: top;
    font-size: 14px;
}



#footer {
    width: 100%;
    min-height: 100px;
    font-family: 'Fira Mono', monospace;
    position: relative;
    background-color: #18252A;
    bottom: 0px;
    clear: both;
    padding-bottom: 1px;
    /* padding-top: 1px; */
}

.social-ul-div {
    text-align: center;
}

.social-ul-div .fa {
    padding-right: 20px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

/* ------------------------------------------------INDEX PAGE CSS-------------------------------------------*/
.main {
    min-height: 100vh;
    background-image: url("../img/skimage2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding: 15px;
}


.main .full-screen {
    min-height: 100vh;
}

.main .main-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main .main-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid white;
    margin-top: 50px;
}

.main .main-content .block h6 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.main .main-content .block {
    font-family: 'ProximaNova';
}

.main .main-content .block h1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Sacramento', cursive;
    text-transform: none;
    margin: 0 0 10px;
    padding: 0;
}

.main .main-content .block h3 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.main .main-content .block .cv-btn {
    padding-top: 10px;
}

.main .main-content .block .cv-btn a {
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}

.main .main-content .block .cv-btn a:hover {
    background-color: white;
    color: cadetblue;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#welcome {
    width: 100%;
    height: auto;
}

#aboutme {
    background-color: white;
    color: black;
    width: 100%;
    padding-bottom: 1px;
    height: auto;
}

#aboutcontent {
    font-family: 'Fira Mono', monospace;
    width: 90%;
    color: black;
    height: auto;
    text-align: center;
    margin: auto;
    font-weight: 500;
}


/* ------------------------------------------------PROJECT PAGE CSS-------------------------------------------*/
#sideContainer {
    background-color: white;
    font-size: 20px;
    width: auto;
    padding-left: 10px;
    font-family: 'Fira Mono', monospace;
    margin: 20px;
    box-shadow: 0px 0px 15px black;
    border-radius: 5px;
    border-width: 1px;
}

#projectContainer {
    background-color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 900px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;
    border-style: solid;
    border-width: 1px;
    border-color: #3ACAC3;
}

#projectRow {
    background-color: transparent;
}

#projectColumnImg {
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 466px;
    min-width: 112px;
    padding-right: 15px;
    padding-left: 15px;
}

#projectImg {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 100%;
}

#projectColumnText {
    background-color: transparent;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

#projectTitle {
    font-family: 'Fira Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

#projectText {
    font-family: 'Fira Mono', monospace;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    font-size: 14px;
}

#submitor {
    background-color: #2AA19B;
    padding-bottom: 16px;
    margin-bottom: 0px;
}

#submitor:hover {
    background-color: #3ACAC3;
}


/* ------------------------------------------------CONTACT PAGE CSS-------------------------------------------*/

#profileContainer {
    background-color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 900px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;
    border-style: solid;
    border-width: 1px;
    border-color: #3ACAC3;
}

#profileRow {
    background-color: transparent;
}

#profileColumnImg {
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 466px;
    min-width: 112px;
    padding-right: 15px;
    padding-left: 15px;
}

#profileImg {
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 80%;
    margin-left: 10%;
}

#profileColumnText {
    background-color: transparent;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

#profileTitle {
    font-family: 'Fira Mono', monospace;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#profileText {
    font-family: 'Fira Mono', monospace;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}

.dropbtn {
    background-color: cadetblue;
    color: white;
    padding: 10px 55px 10px 55px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    border-radius: 20px;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #88c0e6}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #5f9ec9;
  }

  #socialBtn {
      padding-top: 20px;
  }

  button {
      overflow: visible;
    }
    
    button, select {
      text-transform: none;
    }
    
    button, input, select, textarea {
      color: black;
      font: inherit;
      margin: 0;
    }
    
    input {
      line-height: normal;
    }
    
    textarea {
      overflow: auto;
    }
    
    #ContactContainer {
      border: solid 3px black;
      background-color: white;
      max-width: 900px;
      margin: 60px auto;
      position: relative;
    }
    
    form {
      padding: 37.5px;
      margin: 50px 0;
    }
    
    h1 {
      color: black;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 7px;
      text-align: center;
      text-transform: uppercase;
    }
    
    .underline {
      border-bottom: solid 2px black;
      margin: -0.512em auto;
      width: 320px;
    }
        
    .email {
        width: 100%;
    }
    
    input[type='text'], [type='email'], select, textarea {
        background: none;
      border: none;
        border-bottom: solid 2px black;
        color: black;
        font-size: 1.000em;
      font-weight: 400;
      letter-spacing: 1px;
        margin: 0em 0 1.875em 0;
        padding: 0 0 0.875em 0;
      text-transform: uppercase;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    input[type='text']:focus, [type='email']:focus, textarea:focus {
        outline: none;
        padding: 0 0 0.875em 0;
    }
    
    .message {
        float: none;
    }
    
    .name {
        width: 100%;
    }
    
    select {
      background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    
    select::-ms-expand {
      display: none;
    }
    
    .subject {
      width: 100%;
    }
    
    textarea {
        line-height: 150%;
        height: 150px;
        resize: none;
      width: 100%;
    }
    
    ::-webkit-input-placeholder {
        color: black;
    }
    
    :-moz-placeholder { 
        color: black;
        opacity: 1;
    }
    
    ::-moz-placeholder {
        color: black;
        opacity: 1;
    }
    
    :-ms-input-placeholder {
        color: black;
    }
    
    #form_button {
      background: none;
      border: solid 2px black;
      color: black;
      cursor: pointer;
      display: inline-block;
      font-family: 'Helvetica', Arial, sans-serif;
      font-size: 0.875em;
      font-weight: bold;
      outline: none;
      padding: 20px 35px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    #form_button:hover {
      background: #474544;
      color: #F2F3EB;
    }
    
    @media screen and (max-width: 768px) {
      #ContactContainer {
        margin: 20px auto;
        width: 95%;
      }
    }
    
    @media screen and (max-width: 480px) {
      h1 {
        font-size: 26px;
      }
      
      .underline {
        width: 68px;
      }
      
      #form_button {
        padding: 15px 25px;
      }
    }
    
    @media screen and (max-width: 420px) {
      h1 {
        font-size: 18px;
      }
      
      .underline {
        width: 53px;
      }
      
      input[type='text'], [type='email'], select, textarea {
        font-size: 0.875em;
      }
    }
/*-------------------------------------------FONT CSS--------------------------------------------*/

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgK_7SodY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgIv7SodY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgKv7SodY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgJf7SodY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* latin-ext */

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgKP7SodY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v7/N0bX2SlFPv1weGeLZDtgJv7S.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
